beautifulsoup4
bokeh
boto3
botocore
click
cloudpickle
dask
dask-glm
dask-ml
dask-searchcv
dask-xgboost
distributed
graphviz
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jupyter
jupyter-client
jupyter-console
jupyter-core
matplotlib
msgpack
nbconvert
nbformat
notebook>=5.7.2
numpy
pandas
python-dateutil
pyyaml>=4.2b1
requests>=2.20.0
s3fs
s3transfer
scikit-learn
scipy
seaborn
tblib
tornado
widgetsnbextension
xgboost
